<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">

    <title>Chat GUI</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
   
    <div class="main-container">
       
        <div class="navbar">
            <div class="nav-left">
                <button class="menu-btn" id="toggleBtn">
                    <i class="ri-menu-2-fill"></i>
                </button>
                <i class="ri-chat-smile-fill logo-icon"></i> GUI
            </div>
            <div class="nav-right">
                <form class="search-bar">
                    <i class="ri-search-line search-icon"></i>
                    <input type="text" name="" placeholder="Search here...">
                </form>
                <i class="ri-settings-3-fill" class="setting"></i>
                <a href="#" class="profile-link">
                    <img src="/static/img/user2.png" alt="" />
                </a>
            </div>
        </div>
       
            <div class="contactstion">
                <div class="chat-header">
                    <div class="profile-link-header">
                        <span class="profile-link-main">
                            <img src="/static/img/gui.gif" alt="" />
                        </span>
                        <h2>GUI IA</h2>
                    </div>
                    <i class="ri-more-2-fill"></i>
                </div>

                <div class="all-chat" id="all-chat">
                  
                </div>

                <div class="input-area">
                    <i class="ri-add-circle-line chat-icon"></i>

                    <form class="message-input-form">
                        <input type="text" id="message-input" placeholder="Enter Message...">
                        <i class="ri-emoji-sticker-fill chat-icon"></i>
                        <i class="ri-attachment-2 chat-icon"></i>
                    </form>

                    <i class="ri-send-plane-2-fill chat-icon" id="send-button"></i>
                </div>

            </div>

        </div>
    </div>
    
    <script src="/static/js/main.js"></script>

</body>

</html>
